{% extends "bringmyfood/layout.html" %}
{% block title %}Product{% endblock %}
{% block body %}
    <div id="product-container">
        {% if message %} 
            <h3>{{ message }}</h3> 
        {% endif %} 

        {% if message != "Invalid Product" %} 
            <div class="default-div product-div">
                <h2>{{ product.name }}</h2>
                <p><b>Product price:</b> ${{ product.price }}</p> 
                <p><b>Calories:</b> {{ product.calories }}</p> 
                <p><b>Product Belongs to: </b> <a href="{% url 'restaurant' product.belong.pk %}">{{ product.belong.name }}</a></p> 
                <img src="{{ product.image }}" alt="An image of {{ product.name }}" height="200"> 
            </div> 
        {% endif %} 
    </div>
{% endblock %}     